/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: static;
  background-color: #fff;
  display: flex;        
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

nav a {
  color: #212121;
  text-align: center;
  width: 30%;
  padding:10px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  border-radius: 10px;
  border: 2px solid rgb(46, 45, 45)
}

nav a:hover {
  background-color:rgb(149, 145, 145) ;
  color: #fff;
  padding: 2px;
}

nav a[aria-current="page"] {
  background-color:rgb(236, 241, 249)
}

.project-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

.project-link{
  width: 100vw;
  padding: 10px;
  font-size: 25px;
  background-color:#fff;
  color:#212121;
  text-decoration: none;
  border-radius: 10px;
  padding-left: 50px;
}
.project-link:hover{
  background-color:gray ;
  color: #fff;
  font-size: 20px;
}

#main{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#start,#stop{
  margin: 10px;
  margin-top: 20px;
  padding: 8px;
  font-size: 25px;
  border-radius: 7px;
}