/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: static;
  background-color: #fff;
  display: flex;        
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

nav a {
  color: #212121;
  text-align: center;
  width: 30%;
  padding:10px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  border-radius: 10px;
  border: 2px solid rgb(46, 45, 45)
}

nav a:hover {
  background-color:rgb(149, 145, 145) ;
  color: #fff;
  padding: 2px;
}

nav a[aria-current="page"] {
  background-color:rgb(236, 241, 249)
}


.color-buttons{
  display: flex;
  justify-content: center;
}
.colors{
  font-size: 25px;
  border:2px solid #212121;
  width: 20vw;
  height: 40dvh;
}
#orange{
  background-color: orange;
}
#white{
  background-color: white;
}
#green{
  background-color:green;
}
#blue{
  background-color:blue;
}
